/* Give a small margin below the buttons that toggle the form on the View page */
.toggle-form {
  margin-bottom: 2%;
}

/* Inset the description on the home page */
.description {
  border-bottom: 1px solid lightgrey;
  margin-top: 5%;
  padding: 1%;
}

/* Make tables responsive by checking screen width and collapsing if necessary */
@media screen and (max-width: 800px) {
  table {
    border: 0;
  }

  table thead {
    display: none;
  }

  table tr {
    margin-bottom: 5%;
    display: block;
    border-bottom: 2px solid #ddd;
  }

  table td {
    display: block;
    text-align: right;
    font-size: 13px;
    border-bottom: 1px dotted #ccc;
    min-height: 32px;
  }

  table td:last-child {
    border-bottom: 0;
  }

  table td:before {
    content: attr(data-label);
    float: left;
    text-transform: uppercase;
    font-weight: bold;
  }
}
