<div class='row'>
  <div class='col-xs-12 col-md-6'>
    <div class="jumbotron">
      <h1>GeoPumps</h1>
      <p>Protecting your wallet from gas pumps</p>
    </div>

    <div class='description'>
      <h3>
        You tell us the locations you visit frequently,
        we tell you where you can fill up your tank cheapest right now.
      </h3>

      <p>Powered by Texas A&amp;M Geoservices and MyGasFeed</p>
    </div>
  </div>
  <div class='col-xs-12 col-md-6'>
    <div class='panel panel-default'>
      <div class='panel-heading'>
        <h3>Your cheapest location is:</h3>
      </div>
      <div class='panel-body'>
        <div class='row'>
          <div class='col-xs-6'>
            <h4>
              {{best.address}},
              {{best.city}},
              {{best.state}}
            </h4>
          </div>
          <div class='col-xs-6'>
            <h4>{{price}}<h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
