<table class='table table-striped table-hover table-bordered'>
  <thead>
    <th>Street Address</th>
    <th>City</th>
    <th>State</th>
    <th>ZIP Code</th>
    <th>Country</th>
  </thead>
  <tbody>
    <tr ng-repeat='location in locationsService.locations'>
      <td data-label='Address'>{{location.address}}</td>
      <td data-label='City'>{{location.city}}</td>
      <td data-label='State'>{{location.state}}</td>
      <td data-label='ZIP Code'>{{location.zip}}</td>
      <td data-label='Country'>{{location.country}}</td>
    </tr>
  </tbody>
</table>

<div class='btn-group toggle-form'>
  <button ng-click='adding = !adding' ng-hide='adding' class='btn btn-default'>Add Locations</button>
  <button ng-click='adding = !adding' ng-show='adding' class='btn btn-default'>Hide Form</button>
</div>

<addform ng-controller='addController' ng-show='adding'></addform>
