<form name='locationForm' ng-submit='submitForm(locationForm.$valid, location)' novalidate>
  <div
    class='form-group'
    ng-class='{ "has-error": userForm.address.$invalid && userForm.address.$touched }'
  >
    <label>Street Address</label>
    <input type='text' name='address' class='form-control' ng-model='location.address' required />
    <p ng-show='locationForm.address.$invalid' class='help-block'>Required</p>
  </div>

  <div class='form-group'>
    <label>City</label>
    <input type='text' name='city' class='form-control' ng-model='location.city' required='' />
    <p ng-show='locationForm.city.$invalid' class='help-block'>Required</p>
  </div>

  <div class='form-group'>
    <label>State</label>
    <select
      name='state'
      class='form-control'
      ng-options='state.abbreviation as state.name for state in states'
      ng-model='location.state'
      required=''
    />
    <p ng-show='locationForm.state.$invalid' class='help-block'>Required</p>
  </div>

  <div
    class='form-group'
    ng-class='{ "has-error": userForm.zip.$touched }'
  >
    <label>ZIP Code</label>
    <input
      type='text'
      name='zip'
      class='form-control'
      ng-model='location.zip'
      ng-minlength='5'
      ng-maxlength='5'
    />
    <p 
      ng-show='
        (locationForm.zip.$error.minlength || locationForm.zip.$error.maxlength) &&
        locationForm.zip.$touched
      '
      class='help-block'
    >
      Please enter a five digit ZIP code
    </p>
    <!--
    In a production application, you would also want to add a custom directive here to
    ensure that the ZIP code was an integer.
    -->
  </div>

  <div class='form-group'>
    <label>Country</label>
    <select name='country' class='form-control' ng-model='location.country' ng-options='country for country in countries' />
  </div>

  <button type='submit' class='btn btn-primary' ng-disabled='locationForm.$invalid'>Submit</button>
</form>
